
$top-header-color: #202020;
$give-btn-color: #3a2f3d;
$give-btn-border-color: #f1a130;

body{
	background: #eeeeee;
}

.top-header{
	
	background: $top-header-color;
	padding-top: 7px;
	padding-bottom: 5px;
	position: fixed;
	width: 100%;
	z-index: 999;

	.top-header-links{
		
		float: right;


	.top-link-first{
		float: left;
		margin-top: 6px;
	}

	li{
		display: inline-block;
		margin-right: 30px;
		text-transform: uppercase;
		font-size: 15px;
		color: #8a8a8a;
	}

	.top-header-give{
		float: left;

		span{
			float: left;
			display: block;
			margin-right: 30px;
		}

		.givers{
		    background: $give-btn-color;
		    padding: 2px 5px;
		    border-radius: 0px;
		    border: 2px solid $give-btn-border-color;
		    font-size: 12px;
		    text-transform: uppercase;
		}

		i{
			color: #dfdfdf;
			font-size: 20px;
		    transform: translateY(3px) rotateY(180deg);
		}
		}
	}	

}

.banner-row{
	height: 664px;
	.banner{
		img{
			width: 100%;
			position: absolute;
			height: auto;
		}
	}
}

.logo-area{
	
	background: url(../../img/bgbg.jpg);
	background-repeat: repeat-x;
	padding: 50px 0px;
	position: relative;
	margin-top: 50px;

	.logo-inner{
		text-align: center;
		img{
			width: 260px;
		}
	}
}

.we-are{
	border-top: 10px solid #676767;
	padding-bottom: 100px;


	.who-are-round{
		margin-bottom: 20px;

	}

	.who-sect{
		margin-top: 80px;
		@extend .no-padding;
	}
	.first-header{
		text-align: center;
	    font-size: 37px;
	    background: rebeccapurple;
	    margin: 0 auto;
	    width: 300px;
	    float: none;
	    border-radius: 0px 0px 50px 50px;
	    color: #fff;
	    text-transform: capitalize;
	}

	.are-icon{
		border-radius: 50px;
		width: 60px;
		margin-top: 30px;
	}

	.are-houser-right{
		@extend .no-padding;
		text-align: right;
	}

	.are-houser-left{
		@extend .no-padding;
		text-align: left;
	}

	.icon-houser{
		@xtends .no-padding;
		text-align: center;
	}
}

.no-padding{
	padding: 0px !important;
}

.iaeheader{
	text-align: center;
	font-size: 45px;
	padding: 20px 0px 50px;
}

.iaenews{
	border-top: 8px solid #676767;
	text-align: right;
	padding-bottom: 100px;

	img{
		width: 348px;
		max-width: 100%;
	}

	.excerpt{
		height: 80px;
		padding: 20px 0px;
	}

	
}

.social-area{
	background: #ccc;
	padding-bottom: 100px;

	.social-icon{
		text-align: center;

		img{
			margin-right: 40px;
		}
	}
}

.volunteers-area{

	padding: 100px 0px;

	.volunteer-diff{
		background: #e8b600;
		padding: 20px;
		height: 200px;
		font-size: 15px;
		text-align: left;
		color: #fff;

		p{
			margin-top: 40px;
			font-size: 17px;
		}
	}

	.volunteer-img{
		background: #380a55;
	    padding: 20px 0px;
	    text-align: center;
	    height: 200px;

	    img{
	    	width: 230px;
    	    border: 4px solid #fff;
    	    padding: 20px;
    	    margin-top: 25px;
	    }
	}

	.iaev{
		background: #380a55;
		height: 200px;

		p{
			text-align: center;
		    border: 4px solid #fff;
		    width: 211px;
		    padding: 7px;
		    font-size: 27px;
		    margin: 0 auto;
		    margin-top: 65px;
		    color: #fff;
		}
	}
}

.footer-area{

	padding: 70px 0px 0px;
	background: #3a3a3a;

	.footer-links{
		ul{
			border-right: 1px solid #ccc;

			li{
				list-style: none;
			}
		}
	}

	.middle-logo{
		text-align: center;

		img{
			width: 210px;
			margin-top: 30px;
			margin-left: 50px;
		}
	}

	.foot-below{
		text-align: center;
		border-top: 1px solid lemonchiffon;
		padding-top: 5px;
		margin-top: 30px;

		.foot-social{
			i{
				margin-right: 10px;
			}
		}

		.atcopy{
			font-weight: bold;
			margin-bottom: 2px;
			margin-top: 5px;
		}
	}
}
